body {
    background: forestgreen;
    color: aliceblue
}
.centered {
    text-align: center;
}

img {
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* #name {
    text-align: center;
} */