body {
    background: #F5DFBB;
    color: #562C2C;
}
.centered {
    text-align: center;
}

img {
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

a:first-of-type {
    margin-inline-end: 10px;
}

a {
    color: #0E9594;
}
a:visited {
    color: #F2542D;
}

